<% @line_charts.each do |line_chart| %>
  <div class="chart" style="clear:both; border-top:1px solid #888;">
    <div style="width:30%;float:right;margin-left:20px">
      <embed type="image/svg+xml" src="<%= line_chart.embed_url %>" />
      </div>
    <h3><%= line_chart.title %></h3>
    <p><%= link_to 'Edit', edit_line_chart_path(line_chart) %> | <%= link_to 'Remove', line_chart, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    
  </div>
<% end %>
<br style="clear:both;" />

<div style="float:right;"><%= link_to 'New line_chart', new_line_chart_path %></div>