<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @infographic.title %>
</p>

<p>
  <b>Source:</b>
  <%= @infographic.source %>
</p>

<p>
  <b>Chart type:</b>
  <%= @infographic.chart_type %>
</p>

<p>
	<b>Rows:</b>
	<table>
		<tr>
			<th>Label</th>
			<th>Value</th>
			<th>Colour</th>
		</tr>
	<% @infographic.rows.each do |row| %>
		<tr>
			<td style="color:<%= row.colour %>"><%= row.label %></td>
			<td><%= row.value %></td>
			<td><%= row.colour %></td>
		</tr>
	<% end %>
	</table>
</p>

<%= link_to 'Edit', edit_infographic_path(@infographic) %> |
<%= link_to 'Back', infographics_path %>